@ViewBag.Checlogin
@ViewBag.usename

@{
    @model IList<Order_Food.Models.Food_Picture>
}
@if (ViewBag.Checlogin == "ยังไม่เข้าสู่ระบบ")
{

    @RenderPage("~/Views/Index/Login.cshtml ")

}

@if (ViewBag.Checkpage == "admin")
{
    <div>เข้าหน้า admin</div>
    @RenderPage("~/Views/UsingU/Admin.cshtml ")

}
else if (ViewBag.Checkpage == "user")
{
    <div>เข้าหน้า user</div>
    @RenderPage("~/Views/UsingU/User.cshtml ")
    <div style="height:15px;">
    </div>
    @Html.Action("Show_food", "UsingU")

}
else if (ViewBag.Checkpage == "customer")
{

    @Html.Action("Customer", "UsingU")
    <div>เข้าหน้า customer</div>
    @RenderPage("~/Views/UsingU/Add_store.cshtml")
    <div style="height:15px;">
    </div>
    @Html.Action("Showsaveimg", "UsingU")

}


