
@model Order_Food.Models.User

        @using (Html.BeginForm("Resgister", "Index", FormMethod.Post))
    {
        <p>User</p>
        @Html.EditorFor(n => n.User_user)
        <p>Pw</p>
        @Html.EditorFor(n => n.User_pw, new { htmlAttributes = new { @type = "password" } })
        <p>RePw</p>
        @Html.EditorFor(n => n.User_repw, new { htmlAttributes = new { @type = "password" } })
        <p>Name</p>
        @Html.EditorFor(n => n.User_name)
        <p>Last Name</p>
        @Html.EditorFor(n => n.User_last_name)
        <p>Phone</p>
        @Html.EditorFor(n => n.User_phone)

        <input type="submit" value="Submit">
}
        <div> @ViewBag.ab </div>
