 
@model Order_Food.Models.User

<style>
    .red > .field-validation-error {
        color: red;
    }
</style>
@using (Html.BeginForm("Resgister", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.ValidationSummary(true, "")*@
    <div class="red">
        <p>User</p>
        <p>@Html.ValidationMessageFor(m => m.User_user)</p>
        @Html.EditorFor(n => n.User_user)
        <p>Pw</p>
        <p>@Html.ValidationMessageFor(m => m.User_pw)</p>
        @Html.EditorFor(n => n.User_pw)
        <p>RePw</p>
        @Html.ValidationMessageFor(m => m.User_repw)<br>
        @Html.EditorFor(n => n.User_repw)
        <p>Name</p>
        @Html.ValidationMessageFor(m => m.User_name)<br>
        @Html.EditorFor(n => n.User_name)
        <p>Last Name</p>
        @Html.ValidationMessageFor(m => m.User_last_name)<br>
        @Html.EditorFor(n => n.User_last_name)
        <p>Phone</p>
        @Html.ValidationMessageFor(m => m.User_phone)<br>
        @Html.EditorFor(n => n.User_phone)


        @{
            var listItems = new List<SelectListItem>
            {
                new SelectListItem { Text = "บุคลทั่งไป", Value = "user" },
                new SelectListItem { Text = "ร้านค้า", Value = "customer" }
            };
        }

        @Html.DropDownList("Direction", new SelectList(listItems, "Value", "Text"))


        <br><input type="file" name="Food_Picture_pic"><br>

        <input type="submit" value="Submit">
    </div>
}
@*@RenderPage("~/Views/Index/UploadFile.cshtml")*@
<div> @ViewBag.ab </div>

