@Html.Action("Add_store_img", "UsingU")
<div class="pd_15px"></div>
@Html.Action("Getnamestore", "UsingU")
<div class="pd_15px"></div>
@Html.Action("Add_description", "UsingU")
<div class="pd_15px"></div>
@Html.Action("Get_c_address", "UsingU")
<div class="pd_15px"></div>
@Html.Action("Get_time_store", "UsingU")
<div class="pd_15px"></div>
@Html.Action("Category", "UsingU")
<div class="pd_15px"></div>
@Html.Action("Add_food", "UsingU")
<div class="pd_15px"></div>
@RenderPage("~/Views/UsingU/Add_store.cshtml")
<div class="pd_15px"></div>
@Html.Action("Showsaveimg", "UsingU")

