@model List<Order_Food.Models.View_how_show>
@ViewBag.get_name
@Html.ActionLink("แชทกับร้านนี้", "Home_chat", "UsingU")
@foreach (var item in Model)
{
    <div class="">
        <div>
            <img src="~/img/user_img/@item.User_user/store_pic/@item.add_img" style="height:110px;width:auto;">
        </div>
        <div class="pd_15px"></div>
        <div>
            ชื่อร้าน @item.get_storename
        </div>
        <div>
            ข้อมูล @item.description
        </div>
        <div>
            วัน เปิด @item.day_open วันปิด @item.day_close เปิดเวลา @item.time_open เวลาปิด @item.time_close
        </div>
        <div>
            ที่อยู่ @item.address_county @item.address_district @item.address_street @item.address_province
        </div>
    </div>

}
<div class="pd_15px"></div>
<div>
    @Html.Action("Img_section", "UsingU")
</div>
<div class="pd_15px"></div>
<div>

    โหวต
</div>
<div class="pd_15px"></div>
@Html.Action("Show_conment_section", "UsingU")
@Html.Action("Coment_section", "UsingU")
