@{
    Layout = null;
}
@model List<Order_Food.Models.Food_Picture>
<div style="height:45px;padding:8px;">
    <h4>ร้านค้าที่เพิ่มล่าสุด</h4>
</div>
<div style="padding-top:15px;">

    <div class="row">
        @{
            if (Model != null)
            {

                for (int a = ViewBag.check - 4; a < ViewBag.check; a++)
                {
                    @*foreach (var item in Model)
                        {
                            <div class="col-md-3 icom_menu">
                                <div>
                                    <img src="~/img/user_img/@item.Food_Picture_pic" style="height:110px;width:auto;">
                                </div>
                                <div>
                                    @item.Food_Picture_name;
                                </div>
                                <div>
                                    ข้อความใต่รูป
                                </div>
                            </div>
                        }*@
                    <div class="col-md-3 icom_menu">
                        <div id="@Model[a].Food_Picture_id" onclick="get_id_name(event)">
                            <div>
                                <img src="~/img/user_img/@Model[a].Food_Picture_pic" style="height:110px;width:auto;">
                            </div>
                            <div>
                                @Model[a].Food_Picture_name
                            </div>
                            <div>
                                ข้อความใต่รูป
                            </div>
                        </div>
                    </div>
                    @*using (Html.BeginForm("Showcus_to_use", "UsingU", FormMethod.Post))
                        {
                            string getname = @Model[a].Food_Picture_name;
                            @Html.Value(getname, "getasd");

                            <button> ใส่ชั่วคราว </button>

                        }*@
                }
            }


        }

    </div>
    <div style="text-align:right;padding-top:5px;">
        <a href="">ข้อมูลเพิ่มเติม</a>
    </div>

</div>
<script>
    function get_id_name(event) {
        var get_id = event.currentTarget.id;
        alert(event.currentTarget.id);
    };
</script>